.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.timer {
    font-size: 14px;
    color: rgb(27, 27, 27);
    background-color: #f3f4f6;
    padding: 8px;
    font-weight: 500;
    border-radius: 10px;
}
.recording{
    font-size: 20px;
    position: relative;
    top: 4px;
    color: red;
}
.slesh-icon{
    color: rgb(99, 94, 94);
    font-size: 30px;
    height: 30px;
    font-weight: 400;
}


/*   
  @media (max-width: 768px) {
    .navbar {
      padding: 10px 20px;
      flex-direction: column;
    }
  
    .profile-section {
      gap: 10px;

    }
  }
   */