.sidebar {
    width: 70px;
    background-color: #f9fafb;
    height: 100vh;
    transition: width 0.3s ease;
    padding: 20px 0;
    border-right: 1px solid #e5e7eb;
    position: relative;
}

.logo img {
    display: block;
    margin: 0 auto;
    height: 50px;
    border-radius: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.sidebar-menu1 {
    list-style: none;
    padding: 0;
    margin-top: -15px;
}

.sidebar-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #374151;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sidebar-icon {
    font-size: 1.5em;
    margin-right: 15px;
}

.sidebar-item span {
    display: none;
    font-size: 16px;
    margin-left: 10px;
}

.sidebar.expanded .sidebar-item span {
    display: inline-block;
}

.sidebar-item:hover {
    background-color: #e5e7eb;
}

.sub-menu {
    position: absolute;
    left: 80px;
    top: -85px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.sub-item {
    display: flex;
    align-items: center;
    padding: 13px 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sub-item:hover {
    background-color: #f3f4f6;
}

.sub-icon {
    font-size: 1.2em;
    margin-right: 10px;
}

.logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: red;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
}

.search-icon {
    color: #9ca3af;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
}
#sub-item-second-section{
    border-top: 1px solid #9ca3af;
}


  
  @media (max-width: 768px) {
  
    .sub-menu {
      top: 5px;
      border-radius: 0 0 4px 4px;
      width: 200px;
    }
    .search-bar {
        padding: 5px 2px;
        width: 100%;
        z-index: 100;
    }
    .sidebar {
        position:fixed;
    }
    
    
  }
  